<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!--<add name="connstrng" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Source\Econtact\database\Factory_DB.mdf;Integrated Security=True;Connect Timeout=30" />--> 
        <!--<add name="connstrng" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Joey\Documents\GitHub\DeviceTesterApp\DeviceTester\database\FactoryDB.mdf;Integrated Security=True;Connect Timeout=30" />-->
        <add name="connstrng" connectionString="Server=tcp:myfactorysqlserver.database.windows.net,1433;Initial Catalog=FactoryDB;Persist Security Info=False;User ID=azureuser;Password=Trev4718!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>    
</configuration>